.icon-rr-overview {
  background-image: url("images/1x/cate_icn_overview.png") !important;
  background-size: 22px 44px !important
}
.icon-rr-addons {
  background-image: url("images/1x/cate_icn_addons.png") !important;
  background-size: 22px 44px !important
}
.icon-rr-setting {
  background-image: url("images/1x/cate_icn_setting.png") !important;
  background-size: 22px 44px !important
}